.label{
    -fx-font-style: normal;
    -fx-font: 20 "Rockwell" ;
    -fx-font-weight: bolder;
    -fx-text-fill: black;
}


.menu-bar{
    -fx-font-style: normal;
    -fx-font: 14 "Rockwell";
    -fx-background-color: deepskyblue;
}
.menu{
    -fx-font-style: normal;
    -fx-font: 14 "Rockwell";
    -fx-background-color: deepskyblue;
    -fx-border-color: deepskyblue;
    -fx-opacity: 0.9;
}

.menu-item{
    -fx-font-style: normal;
    -fx-font: 14 "Rockwell";
    -fx-background-color: chocolate;
    -fx-border-color: chocolate;
    -fx-opacity: 0.8;
}

.menu-item:hover{
    -fx-opacity: 1;
    -fx-text-fill: wheat;
}

.menu-item:pressed{
    -fx-background-color: deepskyblue;
}

.menu:hover{
    -fx-opacity: 1;
    -fx-background-color: #00abe5;
}

.button:hover{
    -fx-background-opacity: 1;
}

.button{
    -fx-background-color: deepskyblue;
    -fx-background-opacity: 0.9;
}

.button:pressed{
    -fx-background-color: wheat;
}



