
.button{
    -fx-font-style: normal;
    -fx-font: 20 "Copperplate Gothic Bold" ;
    -fx-background-color: crimson;
    -fx-opacity: 0.9;
    -fx-text-fill: black;
}

.button:hover{
    -fx-opacity: 1;
}

.button:pressed{
    -fx-background-color: chartreuse;
    -fx-border-color: chartreuse;

}

.label{
    -fx-font-style: normal;
    -fx-font: 20 "Castellar";
    -fx-background-color: chartreuse;
    -fx-text-fill: black;
    -fx-background-radius: 4;
}

.root{
    -fx-background-color: linen ;
}
