.BorderPane{


    -fx-background-color: aqua;
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}

.button{
    -fx-font-style: normal;
    -fx-font: 20 "Calibri" ;
    -fx-background-color: deepskyblue;
    -fx-text-fill: black;
}

.label{
    -fx-font-style: normal;
    -fx-font: 20 "Calibri" ;
    -fx-background-color: deepskyblue;
    -fx-text-fill: black;
}


.menu-bar{
    -fx-font-style: normal;
    -fx-font: 14 "Calibri" ;
    -fx-background-color: darkcyan;
    -fx-text-fill: darkslategrey;
    -fx-prompt-text-fill: wheat;

}

.menu{
    -fx-font-style: normal;
    -fx-font: 14 "Calibri" ;
    -fx-background-color: darkcyan;
    -fx-border-color: darkcyan;
    -fx-text-fill: darkslategrey;
    -fx-prompt-text-fill: wheat;
}

.menu-item{
    -fx-font-style: normal;
    -fx-font: 14 "Calibri" ;
    -fx-background-color: darkcyan;
    -fx-border-color: darkcyan;
    -fx-text-fill: darkslategrey;
    -fx-prompt-text-fill: wheat;
}



